@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1> FAST University </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2> Welcome to FAST University</h2>
        <p> This is sample web application. </p>
    </div>
    <div class="col-md-4">
        <h2>Building it from scratch</h2>
        <p> this is just a text</p>
    </div>
    <div class="col-md-4">
        <h2>Leasrning!</h2>
        <p> Leasrning MVC 
            <a class="btn btn-default">
                Button Nothing
            </a>
        </p>
    </div>

</div>